Jedzia.BackBock.Model/Data/ClassDataItem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by Venom (ICO) -->
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ClassDataItem">
    <xs:annotation>
      <xs:documentation>Contains the DTO layer for class diagram data.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="ItemType" type="xs:string" use="required"/>
      <xs:attribute name="Name" type="xs:string" use="required"/>
      <xs:attribute name="Color" type="xs:string" use="required"/>
      <xs:attribute name="Scope" type="xs:string"/>
      <xs:attribute name="AccessSpecifier" type="xs:string" />
      <xs:attribute name="Static" type="xs:boolean" default="false"/>
      <xs:attribute name="Signature" type="xs:string"/>
      <xs:attribute name="Parameternames" type="xs:string"/>
      <xs:attribute name="ReturnType" type="xs:string"/>
      <xs:attribute name="IsConstructor" type="xs:boolean" default="false"/>
      <xs:attribute name="DisplayData" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClassDataItemList">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="ClassDataItem">
          <xs:annotation>
            <xs:documentation>The List of Class Members</xs:documentation>
            <xs:appinfo source="ListType">ObservableCollection</xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Type" type="xs:string" use="required"/>
      <xs:attribute name="Name" type="xs:string" use="required"/>
      <xs:attribute name="Color" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
